/vendor/
/logs/*
!/logs/README.md
# Normally you would exclude bower_components, but this way chumby will sync automatically
# since we cannot install bower on Chumby (can't run node).
#**/bower_components/
public/api/**/data/*.json
*.sh
*.jar
.idea/*