@font-face {
    font-family: "Dosis";
    src: url('../fonts/Dosis-Regular.ttf');
}

@font-face {
    font-family: "Dosis-Bold";
    src: url('../fonts/Dosis-ExtraBold.ttf');
}


html {
    margin: 0;

}

body {
    margin: 0;
    /*background-color: #8ef058;*/
    font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 300;
    text-shadow: 2px 2px 2px rgba(74, 76, 80, 1);

}


::-webkit-scrollbar {
    display: none;
}

/* New icon tray look 10/20/2015 */

.top-frame {


}

.left-column {

    /*border: 1px solid red;*/
    float: left;
    width: 25%;
    height: 1080px;
    background-image: url('../img/bluetex.jpg');
}

.inner-holder {
    margin-top: 200px;
    margin-left: 70px;

}

.inner-holder > img {
    width: 300px;

}

.inner-holder > h1 {

    color: white;
    margin-top: 100px;
    margin-bottom: 250px;
    margin-left: 20px;

}

.right-column {

    /*border: 1px solid red;*/
    float: right;
    width: 70%;
    margin-top: 100px;
}

.btn {
    background: #6f6f6f;
    background-image: -webkit-linear-gradient(top, #5a5d5b, #4c5052);
    background-image: -moz-linear-gradient(top, #5a5d5b, #4c5052);
    background-image: -ms-linear-gradient(top, #5a5d5b, #4c5052);
    background-image: -o-linear-gradient(top, #5a5d5b, #4c5052);
    background-image: linear-gradient(to bottom, #5a5d5b, #4c5052);
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    text-shadow: 1px 1px 3px #666666;
    font-family: Arial;
    color: #ffffff;
    font-size: 24px;
    padding: 10px 30px 10px 30px;
    text-decoration: none;
    width: 300px;
    margin-bottom: 5px;
}

/* 1080i and 1080p 1920x1080 */
@media screen and (min-width: 721px) and (min-height: 481px) {

    .icon-tray {

        position: absolute;
        top: 30px;
        left: 15px;
        width: 100%;
        height: 100%;
        abackground-color: #110022;
        aatransition: left 1s linear;
        aa-webkit-transition: left 1s linear;
        font-family: "Dosis-Bold", monospace;

    }

    .icon-tray > .logo {
        position: relative;
        top: 35px;
        /* left: 2.5vw; */
        color: #caf8ff;
        font-size: 35px;
        width: 200px;
        height: 140px;
        margin-left: 60px;
        text-align: center;
    }

    .icon-tray .icon-scroller {
        position: relative;
        top: 60px;
        left: 15px;
        width: 100%;
        overflow-y: scroll;
    }

    .app-icon-frame {
        width: 70%;
        position: relative;
        margin-bottom: -4px;
        transition: 0.25s all;
        -webkit-transition: 0.25s all;
        padding: 10px;

    }

    .app-icon-img {
        margin: auto;
    }

    .app-icon-img img {

        margin: auto;
        max-width: 100%;
        border-radius: 15px;

    }

    .selected {

        border: 2px solid #009dea;

    }


    .not-selected {

        border: 2px solid transparent;

    }

    .app-icon-frame .app-icon-label {
        color: white;
        font-size: 20px;
        text-align: center;
        width: 100%;
        font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
        background-color: #484848;
        line-height: 50px;
        border-radius: 5px;
    }

}

app-icon {
    display: inline-block;
    -webkit-transition: all 0.25s ease-in-out;
    -moz-transition: all 0.25s ease-in-out;
    -o-transition: all 0.25s ease-in-out;
    transition: all 0.25s ease-in-out;
    border-radius: 20px;
    margin: 20px;
}

.hide-icon {

    /*transform: translate(-2000px, 0);
    -webkit-transform: translate(-2000px, 0);*/
    transform: scale(0, 0);
    -webkit-transform: scale(0, 0);
}
