/* Coolors Exported Palette - coolors.co/09b832-2de1fc-2afc98-16c172-214f4b */

$color1: #09b832; //rgba(9, 184, 50, 100)
$color2: #2de1fc; //rgba(45, 225, 252, 100)
$color3: #2afc98; //rgba(42, 252, 152, 100)
$color4: #16c172; //rgba(22, 193, 114, 100)
$color5: #214f4b; //rgba(33, 79, 75, 100)