html {
    margin: 0;
}

body {
    margin:0;
}

.left-scroller-holder {
    font-family: COOL, sans-serif;
    width: 100%;
    position: relative;
    margin-left: 0;
    margin-right: 0;
    height: 90px;

}

.bubble {

    margin-right: 100px;
}

.text-holder {
    /*border: 1px solid mediumpurple;*/
    height: 90px;
    overflow: hidden;
    width: 10000px;

}

.text-slider {
    /*border: 1px dashed orange;*/
    position: relative;
}


.msg-logo-holder {
    display: inline-block;
    width: 120px;
    float: left;
}

.msg-logo {
    height: 70px;
    /*border: 2px solid #fb7dff;*/
    display: block;
    border: 5px solid #c3a24f;
    border-right-width: 0px;

}

.msg-holder {
    display: inline-block;
    float: left;
    background-color: black;
    color: lightgrey;
    line-height: 70px;
    font-size: 34px;
    padding-left: 40px;
    padding-right: 40px;
    border: 5px solid #c3a24f;
    border-left-width: 0px;
    margin-right: 400px;

}

.fl {
    float: left;
}

.logo-holder {

    background-color: black;
    position: absolute;
    top: 0;
    right: 0;
    padding: 5px;
    padding-right: 15px;
}

.logo {
    height: 70px;
    /*border: 2px solid #fb7dff;*/
    display: block;
    border-right-width: 0px;

}