.left-scroller-holder {
    font-family: COOL, sans-serif;
    width: 100%;
    position: relative;
    margin-left: 0;
    margin-right: 0;
    height: 70px;
    /*border: 1px dashed indianred;*/

}


.text-holder {
    /*border: 1px solid mediumpurple;*/
    height: 70px;
    width: 80%;
    overflow: hidden;

}

.text-slider {
    /*border: 1px dashed orange;*/
    position: relative;
    width: 10000px;
}

.msg {
    /*border: 1px dashed dodgerblue;*/
    font-size: 30px;
    color: white;
    margin-right: 200px;
    margin-left: 200px;
    height: 70px;
    line-height: 70px;
    padding: 0 40px 0 40px;
    background: url(../img/bubble-black-blue.png);
    background-size: contain;
    border-radius: 20px;

}

.msg-img > img {
    height: 60px;
    margin-top: 10px;
    /*border: 1px dashed beige;*/
}

.left-scroller-holder .logo {
    /*border: 1px solid lightslategray;*/
    position: absolute;
    top: 0;
    right: 50px;
    width: 200px;
}

.fl {
    float: left;
}